<div ng-include="'header.html'"></div>

<div class="events">
    <div class="events__header">
        <div class="events__mask dotted-mask"></div>
        <h1 class="events__heading">Events in Helsinki</h1>
    </div>
    <div class="events__contents">
        <h2>Upcoming events and exhibitions</h2>
        <ul>
            <li>
                <div>
                    <div>
                        <!-- date -->Thu Jun 06 2013 - Sun Dec 06 2015
                    </div>
                    <div>
                        <!-- event name -->Mad about Helsinki
                    </div>
                    <div>
                        <!-- description -->The exhibition presents a clear general view of the phases of the city, and looks at the past in a new way. The starting point is the citizens' favourite places and stories, selected on the basis of a public survey.
                    </div>
                    <div>
                        More information:
                        <!-- link --><a href="http://www.helsinginkaupunginmuseo.fi/en/exhibitions/mad-about-helsinki/" target="_blank">
                            http://www.helsinginkaupunginmuseo.fi/en/exhibitions/mad-about-helsinki/
                        </a>
                    </div>
                    <div>
                        <!-- location -->Location: City Museum, Sofiankatu 4
                    </div>
                    <div>
                        <!-- image --><img src="assets/images/placeholder.png" />
                    </div>
                </div>
            </li>
        </ul>

        <button class="events__loadmore">See more</button>
    </div>
</div>