/**
 * Color definitions.
 */

$color-text: #606060;
$color-link: #606060;
$color-grey-border: #d6d6d6;


/**
 * Font size definitions.
 */
$font-size-base: 10px;


/**
 * Font weights.
 */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;


/**
 * Font sets.
 */
$font-std: 'News Cycle', Helvetica, Arial;
$font-heading: 'League Gothic';


/**
 * Other
 */
$header-height: 6rem;
$page-heading-height: 30rem;